@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="form-group">
        <label for="selectedString">Välj en kryptovaluta:</label>
        <select class="form-control" id="selectedString" name="SearchTerm" asp-for="SearchTerm">
            @foreach (var str in Model.Strings)
            {
                <option value="@str">@str</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="customString">Vald kryptovaluta:</label>
        <!-- Här visas det valda värdet -->
        <input type="text" class="form-control" asp-for="SearchTerm" id="customString" name="SearchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Skicka</button>
</form>

@if (Model.coinViewModel != null)
{
    <h2>@Model.coinViewModel.Name (@Model.coinViewModel.Symbol)</h2>
    

    @if (Model.coinViewModelSek != null)
    {
        <h1>Sek</h1>
        <h2>@Model.coinViewModelSek.Sek.ToString()</h2>
    }
}

